.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  margin-right: 10px;
}

.logout-button,
.logout-button input:hover {
  cursor: pointer;
}

.logout-button input {
  margin-left: 2px;
}
