<% content_for :content do %>

    <h3>Hello <span class="email"><%= @resource.email %></span>!</p>

    <p>We are contacting you to notify you that your password has been changed.</p>

    <%= yield %>
    
<% end %>
<%= render template: "layouts/mailer" %>
