<% content_for :content do %>

    <h3>Hello <span class="email"><%= @resource.email %></span>!</h3>

    <p>Someone has requested a link to change your password.</p>

    <p>Click on the link below to change your password:</p>

    <button><%= link_to 'Change my password', custom_reset_path(@resource, reset_password_token: @token) %></button>

    <p>Please ignore this email if you did not request this password change.</p>

    <%= yield %>

<% end %>
<%= render template: "layouts/mailer" %>

