<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password.</p>

<p>Click on the link below to change your password:</p>

<p><%= link_to 'Change my password', custom_reset_path(@resource, reset_password_token: @token) %></p>

<p>Please ignore this email if you did not request this password change.</p>
